---
import App from "@components/reactAuth/signUp.jsx"
import Container from "@components/container.astro";
import Anonnavbar from "@components/navbar/anonnavbar.astro";
import Footer from "@components/footer.astro";
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/x-icon" href="/ambulance.svg">
    <title>Bumpertalk</title>
  </head>

<Container>
  <Anonnavbar />
  <App />
  <Footer />
</Container>
</html>
 

