---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
---

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="text-lg"
          ><span class="font-bold text-blue1">Bumper</span><span
            class="text-red1">talk</span
          >
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800" />
        </div>
      </div>
      <MenuItems class=" hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <div class="lg:hidden flex items-center mt-3 gap-4">
          <Link href="#" style="login" block size="md" onclick='showLoginModal()'>Log in</Link>
          <Link href="#" style="signup" size="md" block>Sign up</Link>
        </div>
      </MenuItems>
    </Astronav>
    <!-- Large Menu -->
    <div>
      <div class="hidden lg:flex items-center gap-4">
        <Link href="#" style="login" size="md" class="font-semibold" onclick='showLoginModal()'>Log in</Link>
        <Link href="#" style="signup" size="md" class="font-semibold">Sign up</Link>
      </div>
    </div>
  </header>
</Container>

<script is:inline>


function showLoginModal() {
  loginModal.showModal();
  const closeSvg = document.getElementById('closeSvg');
  closeSvg.addEventListener('click', () => {closeLoginModal()});
}

function closeLoginModal(){
  loginModal.close()
}


</script>

