<div class="text-center mt-8 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Further your education
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    <span class="font-bold text-blue1">Bumper</span><span class="text-red1">talk</span> allows you to take what you learn Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, voluptatum! Labore aliquam provident officiis tenetur rerum deserunt in, similique, ipsa sint quisquam dolore harum natus nesciunt, iusto eos maiores voluptates!
  </p>
</div>

